# Import libraries

In [101]:
import pandas as pd
import re
import numpy as np

# Read csv

### Population DF from WIKIPEDIA

In [114]:
dfpop = pd.read_csv('../../../Ironhack-Module-1-Project-Mecaho/data/raw/dfpop.csv')
dfpop.head()

,Rank,Country(or dependent territory),Population,% of World Population,Date,Source
0,1,China[b],"1,400,737,880",18.1%,4 Jan 2020,National population clock
1,2,India,"1,356,917,150",17.5%,4 Jan 2020,National population clock
2,3,United States[c],"330,529,481",4.26%,4 Jan 2020,National population clock
3,4,Indonesia,"266,911,900",3.44%,1 Jul 2019,National annual projection
4,5,Pakistan,"218,165,000",2.81%,4 Jan 2020,National population clock

### Forbes Millionaires DF

In [103]:
dfforb = pd.read_csv('../../../Ironhack-Module-1-Project-Mecaho/data/raw/dfforb.csv')
dfforb

,id,name,position,Unnamed: 0,id.1,lastName,age,Unnamed: 0.1,gender,country,image,id.2,Unnamed: 0.2,Source,worth,worthChange,realTimeWorth,realTimePosition
0,5948,jeff BEzos,1.0,52,5948,beZOS,54 years old,52,None,None,https://specials-images.forbesimg.com/imageser...,5948,52,Technology ==> Amazon,112.0 BUSD,0.0 millions USD,NaN,1
1,7342,BILL GAtes,2.0,53,7342,GATEs,62 years old,53,M,None,https://specials-images.forbesimg.com/imageser...,7342,53,Technology ==> Microsoft,90.0 BUSD,-0.001 millions USD,NaN,2
2,5447,warren BUFFETT,3.0,54,5447,bufFETT,87 years old,54,None,United States,https://specials-images.forbesimg.com/imageser...,5447,54,Finance and Investments ==> Berkshire Hathaway,84.0 BUSD,-0.002 millions USD,NaN,3
3,4420,bernARD ARNAULt,4.0,55,4420,aRNAULT,69 years old,55,M,France,https://specials-images.forbesimg.com/imageser...,4420,55,Fashion & Retail ==> LVMH,72.0 BUSD,0.0 millions USD,NaN,4
4,4071,mark ZUCKerberg,5.0,56,4071,zuckERBERg,1985,56,M,None,https://specials-images.forbesimg.com/imageser...,4071,56,Technology ==> Facebook,71.0 BUSD,0.0 millions USD,NaN,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2203,3917,ZHAO XIAOQIang,2204.0,2255,3917,zhAO,51 years old,2255,M,China,https://specials-images.forbesimg.com/imageser...,3917,2255,"Fashion & Retail ==> fashion, entertainment",1.0 BUSD,0.0 millions USD,NaN,2134
2204,3721,zhou liANgzhang,2205.0,2256,3721,zhOU,55 years old,2256,M,None,https://specials-images.forbesimg.com/imageser...,3721,2256,Manufacturing ==> electrical equipment,1.0 BUSD,nan millions USD,NaN,2134
2205,6132,zhU XINGMING,2206.0,2257,6132,zHU,51 years old,2257,None,None,https://specials-images.forbesimg.com/imageser...,6132,2257,Manufacturing ==> electrical equipment,1.0 BUSD,0.0 millions USD,NaN,1856
2206,7866,zhuo JUN,2207.0,2258,7866,zHUO,52 years old,2258,F,None,https://specials-images.forbesimg.com/imageser...,7866,2258,Manufacturing ==> printed circuit boards,1.0 BUSD,0.0 millions USD,NaN,1978
2207,2968,olGUN ZOrlu,2208.0,2259,2968,zORLU,54 years old,2259,M,None,https://specials-images.forbesimg.com/imageser...,2968,2259,Diversified ==> diversified,1.0 BUSD,nan millions USD,NaN,1978

# Minimun cleaning for merge

In [104]:
dfpop = dfpop.drop(dfpop.index[240])

In [117]:
def rename_c(df, old, new):
    df.rename(columns={old: new}, inplace=True)
    return df

rename_c(dfpop, 'Country(or dependent territory)', 'country')
rename_c(dfpop, '% of World Population', 'weight_wpopulation')
rename_c(dfpop, 'Rank', 'rank_pop')
rename_c(dfpop, 'Population', 'population')
rename_c(dfpop, 'Date', 'date')

,rank_pop,country,population,weight_wpopulation,date,Source
0,1,China[b],"1,400,737,880",18.1%,4 Jan 2020,National population clock
1,2,India,"1,356,917,150",17.5%,4 Jan 2020,National population clock
2,3,United States[c],"330,529,481",4.26%,4 Jan 2020,National population clock
3,4,Indonesia,"266,911,900",3.44%,1 Jul 2019,National annual projection
4,5,Pakistan,"218,165,000",2.81%,4 Jan 2020,National population clock
...,...,...,...,...,...,...
236,–,Tokelau (NZ),"1,400",0.0000180%,1 Jul 2018,National annual estimate[95]
237,194,Vatican City,799,0.0000103%,1 Jul 2019,UN projection
238,–,Cocos (Keeling) Islands (Australia),538,0.00000693%,30 Jun 2018,National estimate[198]
239,–,Pitcairn Islands (UK),50,0.000000644%,1 Jan 2019,National estimate[199]
240,World,"7,758,960,000",100%,4 Jan 2020,UN projection[200],NaN

In [118]:
def del_str_patt(df, col, del_str, new_str):
    df[col] = df[col].apply(lambda x: re.sub(del_str, new_str, str(x))).str.strip()
    return df

del_str_patt(dfpop, "country", '\([^()]*\)', '')
del_str_patt(dfpop, "country", '\[[^\]]*\]', '')

,rank_pop,country,population,weight_wpopulation,date,Source
0,1,China,"1,400,737,880",18.1%,4 Jan 2020,National population clock
1,2,India,"1,356,917,150",17.5%,4 Jan 2020,National population clock
2,3,United States,"330,529,481",4.26%,4 Jan 2020,National population clock
3,4,Indonesia,"266,911,900",3.44%,1 Jul 2019,National annual projection
4,5,Pakistan,"218,165,000",2.81%,4 Jan 2020,National population clock
...,...,...,...,...,...,...
236,–,Tokelau,"1,400",0.0000180%,1 Jul 2018,National annual estimate[95]
237,194,Vatican City,799,0.0000103%,1 Jul 2019,UN projection
238,–,Cocos Islands,538,0.00000693%,30 Jun 2018,National estimate[198]
239,–,Pitcairn Islands,50,0.000000644%,1 Jan 2019,National estimate[199]
240,World,"7,758,960,000",100%,4 Jan 2020,UN projection[200],NaN

In [119]:
def replace(df, col, old_v, new_v):
    df[col] = df[col].str.strip().replace(old_v, new_v)
    return df

replace(dfforb, 'country', 'USA', 'United States')
replace(dfforb, 'country', "People's Republic of China", 'China')
replace(dfforb, 'country', 'UK', 'United Kingdom')
replace(dfforb, 'country', 'Swaziland', 'Eswatini')

,id,name,position,Unnamed: 0,id.1,lastName,age,Unnamed: 0.1,gender,country,image,id.2,Unnamed: 0.2,Source,worth,worthChange,realTimeWorth,realTimePosition
0,5948,jeff BEzos,1.0,52,5948,beZOS,54 years old,52,None,None,https://specials-images.forbesimg.com/imageser...,5948,52,Technology ==> Amazon,112.0 BUSD,0.0 millions USD,NaN,1
1,7342,BILL GAtes,2.0,53,7342,GATEs,62 years old,53,M,None,https://specials-images.forbesimg.com/imageser...,7342,53,Technology ==> Microsoft,90.0 BUSD,-0.001 millions USD,NaN,2
2,5447,warren BUFFETT,3.0,54,5447,bufFETT,87 years old,54,None,United States,https://specials-images.forbesimg.com/imageser...,5447,54,Finance and Investments ==> Berkshire Hathaway,84.0 BUSD,-0.002 millions USD,NaN,3
3,4420,bernARD ARNAULt,4.0,55,4420,aRNAULT,69 years old,55,M,France,https://specials-images.forbesimg.com/imageser...,4420,55,Fashion & Retail ==> LVMH,72.0 BUSD,0.0 millions USD,NaN,4
4,4071,mark ZUCKerberg,5.0,56,4071,zuckERBERg,1985,56,M,None,https://specials-images.forbesimg.com/imageser...,4071,56,Technology ==> Facebook,71.0 BUSD,0.0 millions USD,NaN,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2203,3917,ZHAO XIAOQIang,2204.0,2255,3917,zhAO,51 years old,2255,M,China,https://specials-images.forbesimg.com/imageser...,3917,2255,"Fashion & Retail ==> fashion, entertainment",1.0 BUSD,0.0 millions USD,NaN,2134
2204,3721,zhou liANgzhang,2205.0,2256,3721,zhOU,55 years old,2256,M,None,https://specials-images.forbesimg.com/imageser...,3721,2256,Manufacturing ==> electrical equipment,1.0 BUSD,nan millions USD,NaN,2134
2205,6132,zhU XINGMING,2206.0,2257,6132,zHU,51 years old,2257,None,None,https://specials-images.forbesimg.com/imageser...,6132,2257,Manufacturing ==> electrical equipment,1.0 BUSD,0.0 millions USD,NaN,1856
2206,7866,zhuo JUN,2207.0,2258,7866,zHUO,52 years old,2258,F,None,https://specials-images.forbesimg.com/imageser...,7866,2258,Manufacturing ==> printed circuit boards,1.0 BUSD,0.0 millions USD,NaN,1978
2207,2968,olGUN ZOrlu,2208.0,2259,2968,zORLU,54 years old,2259,M,None,https://specials-images.forbesimg.com/imageser...,2968,2259,Diversified ==> diversified,1.0 BUSD,nan millions USD,NaN,1978

# Rubbish

In [107]:
#dfforb['country'].value_counts().plot(kind='bar', figsize = (16,8))
#dfpop['Country(or dependent territory)'].value_counts().nlargest(100).plot(kind='bar', figsize = (16,8))

#Use this for check all countries in dfforbs have a correspondence in dfpop: 
    #set(dfforb['country']) - set(dfpop['Country(or dependent territory)'])

# Keep it as CSV processed

In [120]:
dfforb.to_csv('../../../Ironhack-Module-1-Project-Mecaho/data/raw/dfforb1.csv',sep=',', index = False)

In [121]:
dfpop.to_csv('../../../Ironhack-Module-1-Project-Mecaho/data/raw/dfpop1.csv',sep=',', index = False)