In [2]:
import pandas as pd
import pymysql
from sqlalchemy import create_engine

In [3]:
sqlitedb_path = '/home/cristina/ironhack/Ironhack-Module-1-Project-Mecaho/data/raw/cortega.db'
engine = create_engine(f'sqlite:///{sqlitedb_path}')
personal_info = pd.read_sql_query("select * from personal_info", engine)
display(personal_info)

,id,lastName,age,Unnamed: 0,gender,country,image
0,5948,beZOS,54 years old,52,None,None,https://specials-images.forbesimg.com/imageser...
1,7342,GATEs,62 years old,53,M,None,https://specials-images.forbesimg.com/imageser...
2,5447,bufFETT,87 years old,54,None,United States,https://specials-images.forbesimg.com/imageser...
3,4420,aRNAULT,69 years old,55,M,France,https://specials-images.forbesimg.com/imageser...
4,4071,zuckERBERg,1985,56,M,None,https://specials-images.forbesimg.com/imageser...
...,...,...,...,...,...,...,...
2203,3917,zhAO,51 years old,2255,M,China,https://specials-images.forbesimg.com/imageser...
2204,3721,zhOU,55 years old,2256,M,None,https://specials-images.forbesimg.com/imageser...
2205,6132,zHU,51 years old,2257,None,None,https://specials-images.forbesimg.com/imageser...
2206,7866,zHUO,52 years old,2258,F,None,https://specials-images.forbesimg.com/imageser...
2207,2968,zORLU,54 years old,2259,M,None,https://specials-images.forbesimg.com/imageser...

In [4]:
personal_info['lastName'] = personal_info['lastName'].str.capitalize()
display(personal_info)

,id,lastName,age,Unnamed: 0,gender,country,image
0,5948,Bezos,54 years old,52,None,None,https://specials-images.forbesimg.com/imageser...
1,7342,Gates,62 years old,53,M,None,https://specials-images.forbesimg.com/imageser...
2,5447,Buffett,87 years old,54,None,United States,https://specials-images.forbesimg.com/imageser...
3,4420,Arnault,69 years old,55,M,France,https://specials-images.forbesimg.com/imageser...
4,4071,Zuckerberg,1985,56,M,None,https://specials-images.forbesimg.com/imageser...
...,...,...,...,...,...,...,...
2203,3917,Zhao,51 years old,2255,M,China,https://specials-images.forbesimg.com/imageser...
2204,3721,Zhou,55 years old,2256,M,None,https://specials-images.forbesimg.com/imageser...
2205,6132,Zhu,51 years old,2257,None,None,https://specials-images.forbesimg.com/imageser...
2206,7866,Zhuo,52 years old,2258,F,None,https://specials-images.forbesimg.com/imageser...
2207,2968,Zorlu,54 years old,2259,M,None,https://specials-images.forbesimg.com/imageser...

In [6]:
#Delete the column 'Unnamed:0':
after = len(personal_info.columns)
personal_info = personal_info.drop(['Unnamed: 0'], axis=1)
before = len(personal_info.columns)
print(f'Number of columns dropped: {after - before}')
display(personal_info)

Number of columns dropped: 1

,id,lastName,age,gender,country,image
0,5948,Bezos,54 years old,None,None,https://specials-images.forbesimg.com/imageser...
1,7342,Gates,62 years old,M,None,https://specials-images.forbesimg.com/imageser...
2,5447,Buffett,87 years old,None,United States,https://specials-images.forbesimg.com/imageser...
3,4420,Arnault,69 years old,M,France,https://specials-images.forbesimg.com/imageser...
4,4071,Zuckerberg,1985,M,None,https://specials-images.forbesimg.com/imageser...
...,...,...,...,...,...,...
2203,3917,Zhao,51 years old,M,China,https://specials-images.forbesimg.com/imageser...
2204,3721,Zhou,55 years old,M,None,https://specials-images.forbesimg.com/imageser...
2205,6132,Zhu,51 years old,None,None,https://specials-images.forbesimg.com/imageser...
2206,7866,Zhuo,52 years old,F,None,https://specials-images.forbesimg.com/imageser...
2207,2968,Zorlu,54 years old,M,None,https://specials-images.forbesimg.com/imageser...

In [7]:
personal_info['gender'].value_counts()

M         1094
None       549
Male       375
F          126
Female      51
Name: gender, dtype: int64

In [10]:
personal_info['gender'] = personal_info['gender'].str.replace('M', 'Male')
personal_info['gender'] = personal_info['gender'].str.replace('F', 'Female')
display(personal_info)

,id,lastName,age,gender,country,image
0,5948,Bezos,54 years old,None,None,https://specials-images.forbesimg.com/imageser...
1,7342,Gates,62 years old,Malealeale,None,https://specials-images.forbesimg.com/imageser...
2,5447,Buffett,87 years old,None,United States,https://specials-images.forbesimg.com/imageser...
3,4420,Arnault,69 years old,Malealeale,France,https://specials-images.forbesimg.com/imageser...
4,4071,Zuckerberg,1985,Malealeale,None,https://specials-images.forbesimg.com/imageser...
...,...,...,...,...,...,...
2203,3917,Zhao,51 years old,Malealeale,China,https://specials-images.forbesimg.com/imageser...
2204,3721,Zhou,55 years old,Malealeale,None,https://specials-images.forbesimg.com/imageser...
2205,6132,Zhu,51 years old,None,None,https://specials-images.forbesimg.com/imageser...
2206,7866,Zhuo,52 years old,Femaleemaleemale,None,https://specials-images.forbesimg.com/imageser...
2207,2968,Zorlu,54 years old,Malealeale,None,https://specials-images.forbesimg.com/imageser...